.whatwedo-main {
  padding-bottom: 128px;

  .whatwedo-header {
    padding: 0 20px 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 6px;

    h3 {
      grid-column: 7 / span 6;
      font-size: 64px;
      line-height: 76px;
      font-weight: 600;
      color: var(--white);
      font-family: var(--primary-font);
    }
  }

  .whatwedo-list-rel {
    position: relative;
    padding: 0 20px;

    .whatwedo-list-header {
      display: none;
      padding: 0 20px;
      z-index: 1;
      transition: 0.2s ease-in-out;
      background-color: var(--black);
    }
    .whatwedo-list-header.show-on-hover {
      display: block;
    }

    .whatwedo-list-header-line {
      width: 100%;
      height: 1px;
      background-color: var(--white);
      opacity: 0.2;
    }

    .whatwedo-list-header-grd {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 6px;

      .whatwedo-list-header-img {
        grid-column: 7 / span 2;
        aspect-ratio: 1;
      }

      .whatwedo-list-header-content {
        grid-column: 11 / span 2;

        p {
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          letter-spacing: 1px;
          font-family: var(--primary-font);
          color: var(--white);
        }
      }
    }

    .whatwedo-list-flx {
      display: flex;
      flex-direction: column;

      .whatwedo-list {
        position: relative;
        z-index: 2;

        &:hover {
          h4 {
            opacity: 1;
          }
        }

        h4 {
          font-size: 38px;
          line-height: 45px;
          font-weight: 700;
          letter-spacing: 2px;
          color: var(--white);
          font-family: var(--primary-font);
          opacity: 0.3;
        }
      }
    }
  }
}
