.all-article-title-main {
  padding-top: 40vh;
  padding-bottom: 256px;

  .all-article-title {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 6px;
    padding: 0 20px;

    h1 {
      font-size: 64px;
      line-height: 76px;
      font-weight: 700;
      font-family: var(--primary-font);
      grid-column: 4 / span 5;
    }
  }
}

.article-main {
  padding-bottom: 160px;

  .article {
    padding: 0 0 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &:hover {
      .article-left-content {
        .article-content-main {
          p {
            display: block;
          }
        }
      }
      .article-image {
        .article-layer {
          opacity: 0.2;
        }
        .article-read-button {
          opacity: 1;
        }
      }
    }

    .article-left-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .article-tag-button {
        .tag-button {
          padding: 0 6px;
          background-color: var(--white);
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          font-family: var(--primary-font);
          color: #000;
          border: none;
        }
      }

      .article-content-main {
        h2 {
          font-size: 18px;
          line-height: 21px;
          font-weight: 500;
          font-family: var(--primary-font);
          color: var(--white);
          margin-bottom: 2px;
        }

        p {
          font-size: 18px;
          line-height: 21px;
          font-weight: 500;
          font-family: var(--primary-font);
          color: var(--white);
          opacity: 0.3;
          display: none;
        }
      }
    }

    .article-image {
      aspect-ratio: 6.97 / 3;
      position: relative;

      .article-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        opacity: 0;
      }

      .article-read-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }
  }
}

.article-load-more {
  padding-bottom: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
