.project-detail-main {
  .projects-details-slider-main {
    display: flex;

    .projects-details-slider {
      display: flex;
      gap: 2px;

      a {
        &:hover {
          img {
            opacity: 0.8;
          }
          .projects-slider-content {
            p {
              opacity: 0.5 !important;
            }
          }
        }

        .projects-slider-content {
          p {
            opacity: 1 !important;
          }
        }
      }

      .projects-slider-item {
        height: calc(100vh - 77px);
        img {
          height: calc(100vh - 77px - 56px);
          width: auto;
        }

        .projects-slider-content {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 18px 20px;
          background-color: var(--black);
          
          span {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: var(--white);
            font-family: var(--primary-font);
          }

          p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            font-family: var(--primary-font);
            color: var(--white);
            opacity: 0.5;
          }
        }
      }
    }
  }
}
