:root {
  --white: #fff;
  --white2: #efeeec;
  --black: #000000;
  --grey: #636363;
  --transparent: #ffffff00;
  --primary-font: "Helvetica Now Display";
}

[data-theme="light"] {
  // --white: #000000;
  --black: #fff;
}
