.article-detail-section-banner {
  height: 70vh;
}

.article-detail-section-grd-main {
  display: grid;
  grid-template-columns: 480px 1fr 100px;
  padding: 20px;

  .article-detail-section-content-left-main {
    .article-detail-section-content-left {
      position: sticky;
      top: 77px;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 150px;

      .tag-button {
        padding: 0 6px;
        background-color: var(--white);
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        font-family: var(--primary-font);
        color: var(--black);
        border: none;
      }

      .share-article-button {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: var(--black);
        mix-blend-mode: difference;
        cursor: pointer;

        span {
          font-size: 18px;
          line-height: 25px;
          font-weight: 500;
          font-family: var(--primary-font);
          color: var(--white);
        }

        svg {
          width: 11px;
          height: 11px;

          path {
            fill: var(--black);
          }
        }
      }
    }
  }

  .article-detail-section-content-mid-main {
    .article-detail-section-content-mid {
      display: flex;
    }
  }

  .article-detail-section-content-right-main {
    .article-detail-section-content-right {
      position: sticky;
      top: 77px;
      left: 0;

      span {
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
        font-family: var(--primary-font);
        color: var(--white);
      }
    }
  }
}
