.common-button-link {
  display: block;
}
.common-button-main {
  padding: 0 2px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--transparent);
  border: none;
  outline: none;
  cursor: pointer;

  span,
  .button-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: var(--white);
    font-family: var(--primary-font);
    mix-blend-mode: difference;
  }

  svg {
    width: 12px;
    height: 8px;
    mix-blend-mode: difference;

    path {
      color: var(--white);
    }
  }

  &:hover {
    background-color: var(--white);
  }
}

.butonspacefourty {
  gap: 40px;
}

.butonspacefour {
  gap: 4px;
}

.no-hover {
  &:hover {
    background-color: var(--transparent) !important;
  }
}
