header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;

  .header-flx {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px 20px;

    .header-logo {
      width: 160px;
      position: relative;

      .header-logo-flx {
        width: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        &.active {
          .logo-box {
            display: block;
          }
        }

        .header-home-text {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          color: var(--white);
          font-family: var(--primary-font);
        }

        .logo-box {
          width: 5px;
          height: 5px;
          display: none;
          background-color: var(--white);
        }
      }

      .header-logo-img {
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: 9999;
        top: -16px;
        left: -20px;
        display: none;
      }
      &.logo-hover-enabled:hover .header-logo-img {
        display: block;
      }
    }

    .projects-title {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      max-width: fit-content;

      p {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--white);
        font-family: var(--primary-font);
      }

      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--white);
        font-family: var(--primary-font);
        opacity: 0.3;
      }
    }

    .header-links-main {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding-right: 200px;
      max-width: 850px;
      width: 100%;

      .header-dropdown-main {
        position: relative;
        .header-dropdown {
          display: flex;
          align-items: center;
          gap: 12px;
          cursor: pointer;

          &.active {
            svg {
              rotate: 180deg;
            }
          }
          p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: var(--white);
            font-family: var(--primary-font);
          }
        }

        .header-dropdown-body {
          position: absolute;
          top: 25px;
          left: 45px;
          display: flex;
          flex-direction: column;
          width: max-content;
          padding: 16px;
          border-radius: 4px;

          p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: var(--white);
            font-family: var(--primary-font);
            cursor: pointer;
          }
        }
      }

      .header-links-flx {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;

        a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          color: var(--white);
          font-family: var(--primary-font);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 16px;
          transition: 0.2s ease-in-out;

          &:hover {
            color: var(--grey);
          }

          &.active {
            &:hover {
              span {
                background-color: var(--grey);
              }
            }
            span {
              visibility: visible;
              opacity: 1;
            }
          }

          span {
            width: 5px;
            height: 5px;
            background-color: var(--white);
            visibility: hidden;
            opacity: 0;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }

    .projects-info-and-close-main {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      max-width: fit-content;
    }

    .header-right-content {
      display: flex;
      gap: 210px;
      align-items: center;

      .header-theme-button-flx {
        display: flex;
        align-items: center;
        gap: 12px;

        span {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          color: var(--grey);
          font-family: var(--primary-font);
          cursor: pointer;
          transition: 0.2s ease-in-out;

          &.active {
            cursor: default;
            color: var(--white);
          }
        }
      }

      .menu-icon {
        cursor: pointer;
        span {
          font-size: 16px;
          line-height: 23px;
          font-weight: 700;
          color: var(--white);
          font-family: var(--primary-font);
          transition: 0.2s ease-in-out;

          &:hover {
            color: var(--grey);
          }
        }
      }
    }
  }
}
