header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  mix-blend-mode: difference;

  .header-flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;

    .header-logo {
      width: 160px;

      .header-logo-flx {
        width: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        .header-home-text {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          color: var(--white);
          font-family: var(--primary-font);
        }

        .logo-box {
          width: 5px;
          height: 5px;
          background-color: var(--white);
        }
      }
    }

    .header-links-main {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-left: 350px;

      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: var(--white);
        font-family: var(--primary-font);
        transition: 0.2s ease-in-out;

        &:hover {
          color: var(--grey);
        }
      }
    }

    .header-right-content {
      display: flex;
      gap: 210px;
      align-items: center;

      .header-theme-button-flx {
        display: flex;
        align-items: center;
        gap: 12px;

        span {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          color: var(--grey);
          font-family: var(--primary-font);
          cursor: pointer;
          transition: 0.2s ease-in-out;
          
          &.active {
              cursor: default;  
            color: var(--white);
          }
        }
      }

      .menu-icon {
        cursor: pointer;
        span {
          font-size: 16px;
          line-height: 23px;
          font-weight: 700;
          color: var(--white);
          font-family: var(--primary-font);
          transition: 0.2s ease-in-out;

          &:hover {
            color: var(--grey);
          }
        }
      }
    }
  }
}
