.projects-component-blank {
  height: 40vh;
}

.projects-component-main {
  margin-bottom: 160px;

  .projects-top {
    display: grid;
    grid-template-columns: 475px 1fr;
    padding: 0 20px;
    align-items: start;

    .projects-top-left {
      height: 170px;
      margin-top: 64px;

      &.active {
        margin-top: 0;
        position: sticky;
        top: 50%;
      }

      .projects-top-left-flx {
        display: flex;
        align-items: center;
        gap: 4px;

        span {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: var(--grey);
          font-family: var(--primary-font);
          cursor: pointer;

          &.active {
            cursor: default;
            color: var(--white);
          }
        }
      }
    }

    .projects-top-right-main {
      .projects-top-right {
        height: 234px;
        h1 {
          font-size: 84px;
          font-weight: 700;
          line-height: 100px;
          font-family: var(--primary-font);
          color: var(--white);
          letter-spacing: 2px;
        }
      }

      .projects-top-right-list {
        display: flex;
        flex-direction: column;

        .projects-top-right-list-box-main {
          cursor: pointer;

          &:hover {
            .projects-top-right-list-box-content {
              .projects-top-right-list-box-content-number {
                .content-number {
                  color: var(--white);
                  display: none;
                }

                .projects-view-button {
                  display: block;
                }
              }

              .projects-top-right-list-box-content-title-line {
                p,
                span {
                  color: var(--white);
                }
              }

              .projects-top-right-list-box-content-year {
                span {
                  color: var(--white);
                }
              }
            }

            .projects-top-right-list-box-image {
              display: flex;
            }
          }

          .projects-top-right-list-box-content {
            display: flex;
            align-items: flex-start;
            gap: 4px;
            padding: 6px 0;

            .projects-top-right-list-box-content-number {
              width: 100%;
              max-width: 156px;
              display: flex;
              justify-content: flex-start;

              .content-number {
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                color: var(--grey);
                font-family: var(--primary-font);
              }

              .projects-view-button {
                display: none;
              }
            }

            .projects-top-right-list-box-content-title-line {
              width: calc(100% - 156px - 156px);
              display: flex;
              justify-content: space-between;
              align-self: flex-start;

              p,
              span {
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                color: var(--grey);
                font-family: var(--primary-font);
              }
            }

            .projects-top-right-list-box-content-year {
              width: 100%;
              max-width: 156px;
              display: flex;
              justify-content: flex-end;

              span {
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                color: var(--grey);
                font-family: var(--primary-font);
              }
            }
          }

          .projects-top-right-list-box-image {
            display: none;
            width: 100%;
            flex-wrap: wrap;

            img {
              height: 88px;
              width: auto;
            }
          }
        }
      }
    }
  }

  .projects-bottom-flx {
    .projects-bottom {
      display: flex;
      height: 17%;
      align-items: flex-start;
      padding-left: 20px;
      cursor: pointer;
      overflow: hidden;
      background-color: var(--black);

      &:hover {
        .projects-left-main {
          .projects-left-content {
            p {
              color: var(--white);
              &:last-child {
                display: block;
                color: var(--grey);
              }
            }
          }

          .projects-right-content {
            span {
              color: var(--white);
            }
          }
        }
      }

      .projects-left-main {
        padding-right: 8px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 475px;

        .projects-left-content {
          display: flex;
          flex-direction: column;
          transition: 0.3s ease-in-out;

          p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            color: var(--grey);
            font-family: var(--primary-font);
            transition: 0.3s ease-in-out;

            &:last-child {
              display: none;
            }
          }
        }

        .projects-right-content {
          transition: 0.3s ease-in-out;
          span {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            color: var(--grey);
            font-family: var(--primary-font);
            transition: 0.3s ease-in-out;
          }
        }
      }
      .projects-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        aspect-ratio: 21.38 / 12;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.project-redirect-main {
  display: grid;
  grid-template-columns: 475px 1fr;
  padding-left: 20px;
  margin-top: 900px;

  &.active {
    margin-top: 0;
  }

  .back-to-top-button {
    width: fit-content;
  }
}
