* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  background-color: var(--black);
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--white);
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

a {
  text-decoration-line: none;
}

a,
input,
button,
textarea {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container-full {
  max-width: 1920px;
  margin: 0 auto;
}

.container2 {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

::-moz-selection {
  mix-blend-mode: difference;
  background: rgb(89, 89, 89);
}

::selection {
  mix-blend-mode: difference;
  background: rgb(89, 89, 89);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.blend-mode {
  mix-blend-mode: difference;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url(font/HelveticaNowDisplay-Regular.woff);
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url(font/HelveticaNowDisplay-Regular.woff2);
}
